<!doctype html>
<html lang="en">
<head>
    <title>Add Coach</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/3fa7701fe0.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include('./partials/head.ejs') %>
<% if(locals.result) { %>
  <%= result %>
<% } %>

    <div class="container">
        <form action="/admin/add/coach" method="POST">
            <br> <br>
            <h2><i class="fas fa-user-plus"></i> Create New Coach</h2>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-user"></i> User Name</div>
                <div class="col-md-8"><input type="text" name="username" id="username" placeholder="User Name" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-user-lock"></i> Password</div>
                <div class="col-md-8"><input type="password" name="password" id="password" placeholder="Password" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-user-edit"></i> First Name</div>
                <div class="col-md-8"><input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-user-edit"></i> Last Name</div>
                <div class="col-md-8"><input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-envelope-square"></i> Email</div>
                <div class="col-md-8"><input type="text" name="email" id="email" placeholder="Email" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-phone"></i> Phone</div>
                <div class="col-md-8"><input type="text" name="phone" id="phone" placeholder="Phone" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"><i class="fas fa-address-card"></i> Address</div>
                <div class="col-md-8"><input type="text" name="address" id="address" placeholder="Address" class="form-control"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8"><button class="btn btn-success fa-pull-right"><i class="fas fa-plus-square"></i> Add</button></div>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>